.build/

.idea/

boissibook.xcodeproj/project.xcworkspace/xcuserdata/nospy.xcuserdatad/xcschemes/xcschememanagement.plist

boissibook.xcodeproj/xcuserdata/nospy.xcuserdatad/xcschemes/boissibook (iOS).xcscheme

boissibook.xcodeproj/xcuserdata/nospy.xcuserdatad/xcschemes/xcschememanagement.plist
